<div class="screen-centered" style="background-color: #444c51;" id="about">

  <div>

    <div style="text-align: center;">

      <h1 class="bigtitle" style="display: inline;">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <span style="color: white">Crypto Calc</span></h1>
    </div>


    <div class="container" style="color: white;">
      <div class="row">
        <div class="col-md-offset-5 col-sm-offset-5 col-md-1 col-sm-1 bold noside-padding blue">
          Author
        </div>
        <div class="col-md-3 col-sm-3">
          AUTHOR
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-5 col-sm-offset-5 col-md-1 col-sm-1 bold noside-padding blue">
          Update date
        </div>
        <div class="col-md-3 col-sm-3">
          DATE
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-5 col-sm-offset-5 col-md-1 col-sm-1 bold noside-padding blue">
          Version
        </div>
        <div class="col-md-3 col-sm-3">
          VERSION
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-5 col-sm-offset-5 col-md-1 col-sm-1 bold noside-padding blue">
          Github repo:
        </div>
        <div class="col-md-3 col-sm-3">
          <a href="REPO" class="blue">REPO</a>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <ul class="social">
        <!-- Twitter -->
        <li class="item hvr-grow-rotate">
          <a rel="me" target="_blank" href="http://twitter.com/lucdew" title="@lucdew on Twitter">
            <i class="fa fa-twitter"></i>
            <span class="label">Twitter</span>
          </a>
        </li>

        <!-- Linkedin -->
        <li class="item hvr-grow-rotate">
          <a rel="me" target="_blank" href="https://www.linkedin.com/in/lucdewavrin" title="Luc Dewavrin on LinkedIn">
            <i class="fa fa-linkedin-square"></i>
            <span class="label">Linkedin</span>
          </a>
        </li>

        <!-- Github -->
        <li class="item hvr-grow-rotate">
          <a rel="me" target="_blank" href="https://github.com/lucdew" title="lucdew on Github">
            <i class="fa fa-github"></i>
            <span class="label">Github</span>
          </a>
        </li>

      </ul>
    </div>

  </div>

</div>