<div class="content-wrapper">

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Digest & HMAC</h3>
	  </div>
      
    <div class="panel-body">
        
         <form name="digestForm" class="form left" role="form" novalidate> 
            <div class="bottom15">
              <databox type="digest.dataType" types="hex,base64,utf8" name="data" model="digest.data" rows="2" label="Data" autofocus required error-msg="digest.errors.data" >
              </databox>
            </div>
            
            
            <div class="btn-group bottom15 btn-group-default" data-toggle="buttons">
              <label class="btn btn-default" ng-class="{'active':digest.mode=='digest'}" ng-click="digest.setMode('digest')">
                <input type="radio" name="options" autocomplete="off" "> Digest
              </label>
              <label class="btn btn-default" ng-class="{'active':digest.mode=='hmac'}" ng-click="digest.setMode('hmac')">
                <input type="radio" name="options" autocomplete="off" > HMac
              </label>
            </div>
            
            <div class="row valign bottom15">
              <div class="col-md-1 col-sm-3 left bold">Digest Algorithm</div>
              <div class="col-md-3 col-sm-3" style="padding-left: 0;">
                 <div class="dropdown" dropdown >
                      <button class="btn btn-default dropdown-toggle" name="padding" type="button"  dropdown-toggle  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{digest.messageDigestType.name|nodash}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                        <li ng-repeat="messageDigestType in digest.messageDigestTypes" ng-click="digest.setMessageDigestType(messageDigestType)"><a href="#" prevent-default>{{messageDigestType.name|nodash}}</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          
          <div class="bottom15" ng-show="digest.mode=='hmac'">
              <databox type="digest.keyType" types="hex,base64,utf8" name="key" model="digest.key" rows="1" label="Key" error-msg="digest.errors.key" >
              </databox>
          </div>
            
          <databox type="digest.resultType" types="hex,base64,utf8" name="result" model="digest.result" rows="2" label="Result"></databox>
        

       </form>
    </div>
  </div>


</div>


