/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*body {
    padding-bottom: 40px;
    color: #5a5a5a;
}*/

.border1 {
  border: 1px black solid;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.valign > [class*="col"] {
  display: inline-block;
  vertical-align: middle;
}


.left5 { margin-left:5px; }


.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

.col-offset {
    margin-left: 0;
}

.bold {
    font-weight: bold;
}

.panel-small {
    background: #E0E0E0;
}
.panel-body {
   background:#f8f8f8;
   font-size: 12px;
}

.panel-heading {
    margin:0;
}

.red {
    color: red;
}

.noside-padding {
    padding-left:0;
    padding-right:0;
}
.noright-padding {
    padding-right:0;
}
.noleft-padding {
    padding-left:0;
}

.novertical-margin {
    margin-bottom:0;
    margin-top:0;
}

.panel-title {
    font-size: 16px;
    font-weight: bold;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px 30px;
}

.left {
    text-align: left;
}

/* Drop box
-------------------------------------------------------- */
div.dropbox {
    min-height: 150px;
    /*overflow: hidden;*/
    width: auto;
}


.dropbox > div[contenteditable] {
  border: 2px dashed lightgray;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='35px' width='300px'><text x='0' y='15' fill='rgb(211,211,211)' font-size='20'>Write content or drag and drop file</text></svg>");
  background-repeat: no-repeat;
  background-position: center center;
}


form.submitted .ng-invalid {
    border:1px solid #f00;
}

input.field-error {
    border:1px solid #f00;
}

input.field-error:focus {
    border:1px solid #f00;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 66, 0.2);
}

textarea.field-error {
    border:1px solid #f00;
}
textarea.field-error:focus {
    border:1px solid #f00;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 66, 0.2);
}

databox2.ng-invalid-databox-data textarea {
    border:1px solid #f00;
}

databox2.ng-invalid-databox-data textarea:focus {
    border:1px solid #f00;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 66, 0.2);
}

/* Forms
------------------------------------------------------------ */
.btn-group-default label.active {
    background-color: #337AB7;;
    color: #FFF;
    border-color: #2E6DA4;;
}

.btn-group-default label.active:hover {
    background-color: #286090;
    color: #FFF;
    border-color: #204D74;
}


.form-panel {
    border-color: #ddd;
    background-color: #f5f5f5;
    padding: 10px 10px ;
}


.form-warning {
    font-weight: normal;
    text-align: left;
}


.buttons > .btn input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-default .navbar-nav > li > a{
  border-bottom: 1px solid transparent ;
}

.navbar-default .navbar-nav > li > a:hover,  .navbar-default .navbar-nav > li > a.menuselected {
  border-bottom: 1px solid #439348;
  transition: border 1s linear;
  outline: none;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* Router animations, commented out due to annoying vertical jump effect */

/*.ng-enter {
  opacity: 0;
}

.ng-enter.ng-enter-active {
  opacity: 1;
}

.ng-animate,
.ng-enter,
.ng-leave {

  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.ng-leave {
  opacity: 1;
}

.ng-leave.ng-leave-active {
  opacity: 0;
}*/

/* Contextual Menus
-------------------------------------------------- */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
.screen-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 900;
}

.bigtitle {
    font-family:  'DIN Next W01','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.blue {
    color: #22B8EB;
}

#about {
    background-image: url( ../images/about_bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

ul.social {
    list-style: none;

}

ul.social li {
   display: inline-block;
   text-decoration: none;
   margin: 15px 15px;
}
