
<div class="content-wrapper">

  <div class="container" style="top: 40%;position: absolute;">
     <div class="row">
       <div class="col-md-offset-5 col-sm-offset-5 col-md-1 col-sm-1 bold noside-padding">
          Author
       </div>
       <div class="col-md-3 col-sm-3">
         AUTHOR
       </div> 
     </div>
     <div class="row">
       <div class="col-md-offset-5 col-sm-offset-5 col-md-1 col-sm-1 bold noside-padding">
          Update date
       </div>
       <div class="col-md-3 col-sm-3">
         DATE
       </div> 
     </div>
     <div class="row">
       <div class="col-md-offset-5 col-sm-offset-5 col-md-1 col-sm-1 bold noside-padding">
          Version
       </div>
       <div class="col-md-3 col-sm-3">
         VERSION
       </div> 
     </div>
     <div class="row">
       <div class="col-md-offset-5 col-sm-offset-5 col-md-1 col-sm-1 bold noside-padding">
          Github repo:
       </div>
       <div class="col-md-3 col-sm-3">
         <a href="REPO">REPO</a>
       </div> 
     </div>
     
  </div>
	 
</div>


